.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.gallery-favorites {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: white;
  font-size: 12pt;
}
